*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family:font1;
    src: url(./assets/Roboto-Regular.ttf);
}
@font-face {
    font-family:font2;
    src: url(./assets/Roboto-Light.ttf);
}
@font-face {
    font-family:font3;
    src: url(./assets/coolvetica\ rg\ it.otf);
}
@font-face {
    font-family:font4;
    src: url(./assets/coolvetica\ rg\ it.otf);
}
@font-face {
    font-family:font5;
    src: url(./assets/LEMONMILK-RegularItalic.otf);
}
@font-face {
    font-family:font6;
    src: url(./assets/BebasNeue-Regular.ttf);
}
.header-container{
    width:100%;
    height: 100px;
    background-color:rgba(255, 255, 255, 0.219);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 0%;
    z-index: 9999;
}
ul{
    list-style: none;
    display:inline-flex;
    gap: 30px;
    padding: 10px;
}
li a {
    text-decoration: none;
    box-shadow: none;
    color:black;
    font-family:font5;
}

.logo {
    width: 8rem;
    height: 8rem;
}
.navbar-list li {
    font-size: 20px;
    color:black;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-list li i {
    font-size: 20px;
}
.checkbutton, #toggle-menu{
    font-size: 40px;
    color: black;
    display:none;
}
#search{
    border-color:black;
    height: 22px;
    border-radius: 4px;
    
}
.register-container{
    width:100%;
    height: 900px;
    background: url(./assets/img/register.jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    width:500px;
    height: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
}
.register-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family:font1;
    cursor: default;
}
p{
    font-family:font2;
    padding: 10px;
    cursor: default;
}
input{
    border-color: rgb(0, 0, 0);
    width: 200px;
    height: 30px;
}
label{
    font-family:font3;
}
#direccion{
    width: 136px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
}
a{
    font-family:font3;
    color: black;
}
button:hover{
    height: 40px;
    width: 110px;
    background-color: black;
    color: white;
}
a:hover{
    color: white;
}
footer{
    width: 100%;
    height: 300px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
h3{
    font-family:font3;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-list{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.footer-list li{
    font-family:font3;
}
@media (max-width: 550.98px){
    nav .navbar-list{
       position: fixed;
       display:flex;
       background-color: rgba(10, 10, 10, 0.733);
       left: 100%;
       margin-top:19rem;
       text-align: center;
       transition: all .5s;
       flex-direction: column;
       width: 100%;
       color: white;
   }
   li a {
       color: white;
   }
   .checkbutton{
       display: block;
   }
   #toggle-menu:checked ~ ul{
       left: 0%;
    }
    .logo2{
        display: none;
    }
    footer{
        gap: 0px;
    }
    .register{
        width: 356px;
        height: 690px;
    }
    label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #direccion{
        width: 200px;
    }
   }