* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:font3;
    text-decoration: none;
    list-style: none;
}
:root {
    --white:#ffffff;
    --black:#000000;
    --greytransparent:#cccccc80;
    --orange:#F57C00;
}
@font-face {
    font-family:font1;
    src: url(./Asap-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family:font2;
    src: url(./coolvetica\ rg\ it.otf);
}
@font-face {
    font-family:font3;
    src: url(./LEMONMILK-RegularItalic.otf);
}
@font-face {
    font-family:font4;
    src: url(./BebasNeue-Regular.ttf);
}
body {
    background-color: var(--white);
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
.header-container{
    width:100%;
    height: 100px;
    background-color:var(--greytransparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position:sticky;
    top: 0%;
    z-index: 9999;
}
ul{
    list-style: none;
    display:inline-flex;
    gap: 30px;
    padding: 10px;
}
li a {
    text-decoration: none;
    box-shadow: none;
    color:black;
}

.logo {
    width: 8rem;
    height: 8rem;
}
.navbar-list li {
    font-size: 20px;
    color: var(--black);
    position: sticky;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.navbar-list li i {
    font-size: 20px;
}
label, #toggle-menu{
    font-size: 40px;
    color: black;
    display:none;
}
#search{
    border-color:var(--black);
    height: 22px;
    border-radius: 4px;
    
}
.hero-container{
    background: url(./img/tienda2.jpg) no-repeat center/cover;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 180px;
}
h1{
    color: var(--white);
    text-align: center;
    font-size:80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s;
}
h1:hover{
    background: #ff0000;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 90px ;
}
.hero-button{
    background-color:rgba(255, 255, 255, 0);
    color: var(--white);
    border-radius: 10px;
    border-color: var(--white);
    width: 10rem;
    height: 4rem;
    font-size: 20px;
    transition: all 0.5s;
    font-family: font3;
    text-decoration: none;
    cursor: pointer;
}
.hero-button:hover{
    font-size:25px;
    width: 11rem;
    height: 5rem;

}
.hero-button2{
    background-color:rgba(255, 255, 255, 0);
    color: var(--black);
    border-radius: 10px;
    border-color: var(--black);
    width: 10rem;
    height: 4rem;
    font-size: 20px;
    transition: all 0.5s;
    font-family:font3;
    text-decoration: none;
    cursor: pointer;
}
.hero-button2:hover{
    font-size:25px;
    width: 11rem;
    height: 5rem;

}
.card-container-look{
    width: 95%;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.look-container, .look-container-arrows{
    display: flex;
    color: black;
    align-items: center;
}
.look-next{
    color: black;
    font-size: 30px;
    font-family:font3;
}
.look-container-arrows , h2{
    color: black;
    font-size: 30px;
}
.look-container{
    display: flex;
    justify-content: space-between;
    margin-left: 129px;
    margin-top: 10px;
}
.card-container{
    display: flex;
    gap: 50px;
    margin:46px 0px 0px 50px;
    justify-content: space-around;
}
.model-card-man{
    width:400px;
    height:500px;
    background: url(./img/hamilton.jpg) no-repeat center/cover;
    padding: 10px;
}
.model-card-women{
    width:400px;
    height:500px;
    background: url(./img/modelo2.jpg) no-repeat center/cover;
    padding: 10px;
}
.section-text{
    font-family:font3;
    font-size: 37px;
    color: black;
    cursor: pointer;
}
.section-container{
    display: flex;
    justify-content: space-around;
}
.offer-container{
    width: 95%;
    height:580px;
    display: flex;
    gap: 30px;
    margin: 30px;
}

.offer-photo{
    width:60%;
    height: 500px;
    background: url(./img/modelos3.jpg)  no-repeat center/cover;
}
.offer-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}
.offer-text-container h2{
    font-family:font3;
    font-size: 45px;
}
.offer-text-container span{
    color: var(--black);
    font-size:26px;
}
.card-container-products{
    width: 100%;
    height:930px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-products{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px;
    gap:2rem;
    padding: 2rem;
}
.item{
    height: 400px;
    width: 400px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:hover{
    height: 420px;
    width: 420px;
}
.item-product{
    color:var(--white);
    font-size: 50px;
    transition: all 0.5s;
    text-shadow: 2px  1px 1px black,
    1px  2px 1px black,
   0px  1px 2px black,
    1px -2px 1px black;
}

.item:nth-child(1){
    grid-column: 1/2;
    background: url(./img/ropa1.jpg) no-repeat center/cover;
}
.item:nth-child(2){
    background:url(./img/ropa2.jpg) no-repeat center/cover;
}
.item:nth-child(3){
    background:url(./img/ropa3.jpg) no-repeat center/cover;
}
.item:nth-child(4){
    background:url(./img/ropa4.jpg) no-repeat center/cover;
}
.item:nth-child(5){
    background:url(./img/ropa5.jpg) no-repeat center/cover;
}
.item:nth-child(6){
    background:url(./img/ropa6.jpg) no-repeat center/cover;
}
.contact-container{
    width:95%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-info{
    color:var(--black);
    font-size: 20px;
}
.contact-container-info{
    display: flex;
    gap: 10rem;
}
.divisor{
    background-color: var(--black);
    border: solid;
    border-color: black;
    width: 500px;
    height: 13px;
    margin: 75px auto 75px auto;
    border-radius: 5px;

}
.mapa-responsive{
    display: none;
}
footer{
    width: 100%;
    height: 300px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-list{
    display: flex;
    flex-direction: column;
    font-size: 18px;
}
.footer-list li{
    font-family:font4;
}
@media (max-width: 550.98px){
     nav .navbar-list{
        position: fixed;
        display:flex;
        background-color: rgba(10, 10, 10, 0.733);
        left: 100%;
        margin-top:20rem;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        width: 100%;
        color: white;
    }
    li a {
        color: white;
    }
    .checkbutton{
        display: block;
    }
    #toggle-menu:checked ~ ul{
        left: 0%;
    }
    .card-container-look{
        align-items: center;
        height: 470px;
    }
    .look-container{
        margin-left: 19px;
    }
    .look-container-arrows{
        display: none;
    }
    .card-container{
        margin: 0px;
        gap: 10px;
    }
    .model-card-man, .model-card-women{
        width: 190px;
        height: 360px;
        padding: 0px;
    }
    .section-container, .section-text{
        font-size: 15px;
        gap: 25px;
    }
    .offer-photo{
        width: 440px;
        height: 200px;
    }
    .offer-container{
        width: 95%;
        height: 230px;
        gap: 10px;
        margin: 10px;
    }
    .offer-text-container{
        gap: 10px;
    }
    .offer-text-container h2{
        font-size: 19px;
    }
    .offer-text-container span{
        font-size: 13px;
    }
    .offer-text-container button{
        width: 6rem;
        height: 3rem;
        font-size: 12px;
    }
    .hero-button2:hover{
        width: 8rem;
        height: 4rem;
        font-size: 15px;
    }
    .card-container-products{
        height:470px;
    }
    .card-products{
        grid-template-columns: 100px 100px 110px;
        grid-template-rows: 200px;
        gap: 1rem;
        padding: 1rem;
    }
    .item{
        height: 200px;
        width: 110px;
    }
    .item:hover{
        height: 210px;
        width: 130px;
    }
    .item-product{
        font-size: 16px;
    }
    .divisor{
        width: 300px;
        height: 6px;
    }
    .contact-container{
        gap: 15px;
    }
    .contact-container h2{
        font-size: 18px;
    }
    .contact-container-info{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
    .mapa-responsive{
        display: block;
    }
    .logo2{
        display: none;
    }
    footer{
        gap: 0px;
    }
    .card-container-products h2{
        font-size: 20px;
    }
}