* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:font3;
    text-decoration: none;
    list-style: none;
}
:root {
    --white:#ffffff;
    --black:#000000;
    --greytransparent:#cccccc80;
    --orange:#F57C00;
}
@font-face {
    font-family:font1;
    src: url(./Asap-Italic-VariableFont_wght.ttf);
}
@font-face {
    font-family:font2;
    src: url(./coolvetica\ rg\ it.otf);
}
@font-face {
    font-family:font3;
    src: url(./LEMONMILK-RegularItalic.otf);
}
body {
    background-color: var(--white);
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

.header-container{
    width:100%;
    height: 100px;
    background-color:var(--greytransparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position:sticky;
    top: 0%;
    z-index: 9999;
}
ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 10px;
}
li a {
    text-decoration: none;
    box-shadow: none;
    color:black;
}

.logo {
    width: 8rem;
    height: 8rem;
}
.navbar-list li {
    font-size: 20px;
    color: var(--black);
    position: sticky;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.navbar-list li i {
    font-size: 20px;
}
label, #toggle-menu{
    font-size: 40px;
    color: black;
    display:none;
}
#search{
    border-color:var(--black);
    height: 22px;
    border-radius: 4px;
    
}
.hero-container{
    background: url(./img/tienda2.jpg) no-repeat center/cover;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 180px;
}
h1{
    color: var(--white);
    text-align: center;
    font-size:80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s;
}
h1:hover{
    background: #ff0000;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 90px ;
}
.hero-button{
    background-color:rgba(255, 255, 255, 0);
    color: var(--white);
    border-radius: 10px;
    border-color: var(--white);
    width: 7rem;
    height: 3rem;
    font-size: 20px;
    transition: all 0.5s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    cursor: pointer;
}
.hero-button:hover{
    font-size:25px;
    width: 8rem;
    height: 4rem;

}
.card-container-look{
    width: 95%;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.look-container, .look-container-arrows{
    display: flex;
    color: black;
    align-items: center;
}
.look-next{
    color: black;
    font-size: 30px;
    font-family:font3;
}
.look-container-arrows , h2{
    color: black;
    font-size: 30px;
}
.look-container{
    justify-content: space-between;
    margin-left: 129px;
    margin-top: 10px;
}
.card-container{
    display: flex;
    gap: 50px;
    margin:46px 0px 0px 50px;
    justify-content: space-around;
}
.model-card-man{
    width:400px;
    height:500px;
    background: url(./img/hamilton.jpg) no-repeat center/cover;
    padding: 10px;
}
.model-card-women{
    width:400px;
    height:500px;
    background: url(./img/modelo2.jpg) no-repeat center/cover;
    padding: 10px;
}
.section-text{
    font-family:font3;
    font-size: 37px;
    color: black;
    cursor: pointer;
}
.section-container{
    display: flex;
    justify-content: space-around;
}
.offer-container{
    width: 95%;
    height:580px;
    display: flex;
    gap: 30px;
}

.offer-photo{
    width:60%;
    height: 500px;
    background: url(./img/modelos3.jpg)  no-repeat center/cover;
}
.offer-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.offer-text-container h2{
    font-family:font3;
    font-size: 45px;
}
.offer-text-container span{
    color: var(--black);
    font-size:26px;
}
.card-container-products{
    width: 95%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.card-products{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    gap:2rem;
    padding: 2rem;
}
.item{
    height: 400px;
    width: 400px;
    transition: all 0.5s;
}
.item:hover{
    height: 420px;
    width: 420px;
}

.item:nth-child(1){
    grid-column: 1/2;
    background: url(./img/ropa1.jpg) no-repeat center/cover;
}
.item:nth-child(2){
    background:url(./img/ropa2.jpg) no-repeat center/cover;
}
.item:nth-child(3){
    background:url(./img/ropa3.jpg) no-repeat center/cover;
}
.item:nth-child(4){
    background:url(./img/ropa4.jpg) no-repeat center/cover;
}
.item:nth-child(5){
    background:url(./img/ropa5.jpg) no-repeat center/cover;
}
.item:nth-child(6){
    background:url(./img/ropa6.jpg) no-repeat center/cover;
}


@media (max-width: 550.98px){
     nav .navbar-list{
        position: fixed;
        display:flex;
        background-color: rgba(10, 10, 10, 0.733);
        left: 100%;
        margin-top:19rem;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        width: 100%;
        color: white;
    }
    li a {
        color: white;
    }
    .checkbutton{
        display: block;
    }
    #toggle-menu:checked ~ ul{
        left: 0%;
}
